a{
    text-decoration: none;
    color: white;
}
button{
    width: 100%;
    margin: 10px;
}
.card{
    color:rgb(43, 40, 40);
    
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        justify-content: center;
        margin-top: 100px;
        
        
    
}
b{
    color:red;
    font-weight: normal;
}