<div class="container main">
    <div class="pt-3">
        <div class="card border border-primary box-1" style="border-radius:35px ;">
            <div class="card-body lb">
                <h2>Current weather details</h2>
                <hr style="color: black; padding:2px;">
                <div >
                    <h1> {{clocation}} &nbsp; {{country}}</h1>
                        <p>{{ctime}}</p>
                        <div class=Img style="text-align: center;" >
                            <img src="../../assets/sun2-removebg-preview.png" class="img-fluid" alt="" style="height: 150px;">
                        </div>
                    <h2 style="text-align: right;"> <i class="fas fa-cloud-sun"></i> {{cweatherdescription}}</h2>
                    <p style="text-align: center;">Current Temparature</p>
                    <h1 style="text-align: center;">{{ctemparature}} &#176; C</h1>
                </div>
                <div>
                    <div class="flex-container">
                        <div class="flex-item-left"><p>FEELS LIKE</p>  <h4>{{cweatherdescription}}</h4></div>
                        <div class="flex-item-right"><p>HUMIDITY </p> <h4>{{humidity}} % </h4></div>
                        <div class="flex-item-right"><p>WIND SPEED</p> <h4>{{windspeed}} kmph</h4></div>
                        <div class="flex-item-right"><p>MAX TEMP</p> <h4>{{cmaxtemp}} &#176; C</h4></div>
                        <div class="flex-item-right"><p>MIN TEMP</p> <h4>{{cmaxtemp}} &#176; C</h4></div>

                    </div>
                    <hr style="color: rgb(10, 1, 1); padding:2px;">

                </div>
            </div>

    
        </div>
        <h1 style="margin:40px;color:white">Forecasting weather details :</h1>
        <div class="card-body text-center box-2" style="background-color: white; border-radius:35px;">
            <div style="display: flex; " class="f-container ">
                <div class="card bg-white text-black border border-success rounded box-3" *ngFor="let ob of obj" style="margin:13px;padding-left:40px;padding-right:40px; background-color:white;border-radius:5px;">
                    <h2 style="color: rgb(153, 6, 6);margin-top:2px"><b> day - {{ob.fday}}</b></h2>
                    <hr>
                    <h4><b class="pt-2">{{ob.fdate |date}}</b>&nbsp; <small>{{ob.fdate | date:'shortTime' }}</small></h4>
                    <small>Temparature</small>
                        <h3>{{ob.ftemparature}} &#176; C</h3>
                        {{ob.fweatherdescription}}
                        <hr >
                    <p>MAX TEMP</p>{{ob.fmaxtemp}} &#176; C
                    <P>MIN TEMP</P> {{ob.fmintemp}} &#176; C
                </div>
            </div>
        </div>
        <br><br>




    </div>
</div>
