<div class="wrapper">
    <div class="search-data">
        <div class="search-button">
            <form [formGroup]="searchForm">
                <input type="text" placeholder="Enter Your City" formControlName="cityName">
                <i class="bi bi-search" (click)="onSubmit()"></i>
            </form>
        </div>

        <div class="data">
            <div class="no-search" *ngIf="map.size<1">
                <h3>Welcome to Our Weather Application.</h3>
                <p>Please Type a city hit Search button and get Weather Reports of a day..</p>
                <h4>Thank You ...!</h4>
            </div>
            <div class="city-data" *ngIf="map.size>1">
                <div class="header">
                    <div class="name">
                        <h2>{{weatherData.location}} , &nbsp; {{weatherData.country}}</h2>
                        <p>{{weatherData.dateTime | date :'medium'}}</p>
                    </div>
                </div>
                <div class="temp">
                    <h1>{{weatherData.temp}}&deg;</h1>
                    <small>K</small>
                    <p>Current Temparature</p>
                </div>


            </div>
            <div class="temp-items" *ngIf="map.size>1">
                <div class="item">
                    <p>feels like</p>
                    <small>{{weatherData.feelsLike}}</small>
                </div>
                <div class="item ">
                    <p>min temparature</p>
                    <small>{{weatherData.minTemp}} k</small>
                </div>
                <div class="item">
                    <p>max temparature</p>
                    <small>{{weatherData.maxTemp}} k</small>
                </div>
                <div class="item ">
                    <p>pressure</p>
                    <small>{{weatherData.pressure}}</small>
                </div>
                <div class="item ">
                    <p>wind speed</p>
                    <small>{{weatherData.windSpeed}}</small>
                </div>
            </div>
        </div>

    </div>
</div>