.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;

    .search-data{
        .search-button{
            form{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: .3em;

                input{
                    outline: none;
                    border: 1.2px solid #ddd;
                    padding: 6px;
                    border-radius: 6px;
                }
                input:focus{
                    border: 1.4px solid darkblue;
                    outline: none;
                }

                i{
                    border: 1.2px solid #ddd;
                    padding: 3px 8px;
                    border-radius: 5px;
                    font-size: 1.2em;
                    cursor: pointer;
                }
                i:hover{
                    background-color: darkblue;
                    color: #fff;
                }
            }
        }
    }
    .data{
       
        .no-search{
            width: 100%;
            border-bottom: 2px solid darkblue;
            padding: 20px;
            margin: 2em .5em;
            border-radius: 8px;
            text-align: center;
            background-color: #ffffff;
            word-wrap: break-word;
            word-break: break-all;
            box-shadow: 0 0 10px 0 rgba(0 0 0/10%);
            h3{
                font-weight: 900;
                margin: 1em 1em;
                font-size: 2em;
                letter-spacing: 5px;
                text-transform: uppercase;
                color: darkblue;
            }
            p{
                text-transform: uppercase;
                font-size: 1.1em;
                letter-spacing: 2px;
                font-weight: 680;


            }
            h4{
                margin: 1em 0;
                text-transform: uppercase;
                font-size: 3em;
                letter-spacing: 10px;
                font-weight: 700;
                text-shadow: 12px 0 2px  rgb(196, 194, 194);

            }
        }
        .city-data{
            margin: 1em .1em;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2em;
            // background-color: #ddd;
            padding: 10px;
            width: 100%;

            .header{
                box-shadow: 0 0 10px 0 rgba(0 0 0/10%);
                border-bottom: 1.4px solid darkblue;
                padding: 10px;
                border-radius: 8px;
            }
            .header{
                padding: 10px 60px;
                h2{
                    font-weight: 680;
                    margin: .2em;
                    letter-spacing: 2px;
                }
                p{
                        color: rgb(154, 153, 153);
                }
            }
            .temp{
                position: relative;
                padding: 24px;
                h1{
                    margin: 0;
                    font-size: 5em;
                    font-weight: 900;
                }
                small{
                    position: absolute;
                    top: 20px;
                    right:0;
                    font-size: 2em;
                    margin-right: 9px;
                }
                p{
                    color: gray;
                    text-transform: lowercase;
                }
            }
    
        }
        .temp-items{
            max-width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
            gap: 20px;
            margin: 0 1em;
            .item{
                box-shadow: 0 0 10px 0 rgba(0 0 0/10%);
                border-bottom: 1.4px solid darkblue;
                padding: 10px;
                border-radius: 8px;
                cursor: pointer;
                p{
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: 580;
                }
                small{
                    font-weight: 680;
                }

            }
            .item:hover{
                background-color: darkblue;
                color: #fff;
            }
        }
    }
    
}