.cls{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.title{
   
 padding: 10px;
 margin-left: 15px;
 color: white;
 font-weight: bold;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    height: 150px;
    

}
.fcard{
    height: 600px;
}
ul{
    list-style: none;
    display: flex;
    text-align: center;
    margin:0px
    
}
ul li{
    padding-right: 15px;
}
.List{
    text-align: center;
}
.cls2{
    /*background-color:rgb(0, 167, 245);*/
    background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}
a{
    color: white;
}
a:hover{
    color: rgb(138, 5, 16);
}